{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if not title %} Turing_halt {% else %}{{ Title }}{% endif %}</title>

    <script src="{% static 'js/main.js' %}"></script>


    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="https://kit.fontawesome.com/784114f223.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="shadow navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:index' %}">
                <i class="th-logo"
                    style="font-family: rockwell; font-size:1.5em; font-weight: bold; font-style: normal;">
                    <span style="color: #007aff;">Turing</span>
                    <span style="color: #E91E63;">Halt</span>
                </i>
            </a>

            <ul class="d-flex flex-row navbar-nav">
                <li class="mr-2 d-flex">
                    <a class="btn btn-outline-primary" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="mr-2 align-items-center d-flex">
                        <a class="btn btn-outline-primary" href="{% url 'core:host_competition' %}" role="button">Host Competition</a>
                    </li>
                    <li class="align-items-center d-flex">
                        <a class="btn btn-outline-primary" href="{% url 'main:logout_view' %}" role="button">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="mr-2">
                        <a class="btn btn-outline-primary" href="{% url 'main:login_view' %}" role="button">Login</a>
                    </li>
                    <li>
                        <a class="btn btn-primary" href="{% url 'main:register_view' %}" role="button">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>